@font-face {
  font-family: "PT Sans" ;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans" ;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}


body {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  font-family: "Pt sans", sans-serif;
  background-color: #ffffff;
}

.nobullet{
  list-style-type: none;
}

.heading-h1 {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  font-weight: 700;
}

.heading-h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.main-paragraf {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
}

.text-white {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration-line: none;
  background-color: #756157;
  font-weight: 700;
  width: 160px;
  height: auto;
  padding: 8px 34px;
}

/*header*/

.main-header {
  width: 1200px auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-decoration-line: none;
}

.user-item-search {
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  height: 20px;
}

.user-item-favorites {
  background-image: url("/images/Heart.svg");
  background-repeat: no-repeat;
  height: 20px;
}

.number_of_favorites {
  background-color: #7DB54F;
  border-radius: 50%;
  height: 20px;
  margin: 15px;
}



/*main*/

/*section hero*/
.hero{
  background-image: url("/images/hero-background.png");
  background-repeat: no-repeat;
  background-size: 100% 485px;
  background-color: #000000;
  color: #ffffff;
}

.hero-welcome {
  text-align: center;
}

/*section advantages*/

.advantages-item-extended {
  background-color: #82B3D3;
}

.even { /* четный */
  background-color: rgba(131, 179, 211, 0.12);
}

.odd { /* нечетный*/
  background-color: rgba(131, 179, 211, 0.2); /* уточнить как еще можно организовать прозрачность фона, не затрагивая содержимое*/
}

/* section service */

/* section hotel-search */

.button-search-hotel {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 50px;
  border-radius: 4px;
}

/* section subscribe */

.subscribe-main {
  background-image: url("/images/Subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% 414.86px;
  color: #ffffff;
  background-color: #000000;
}

.subscribe-catalog {
  background-color: #ffffff;
}


/* footer */



/* section filter */

.filter {
  background-image: url("/images/filtr.jpg");
  background-repeat: no-repeat;
  background-size: 100% 412px;
  color: #ffffff;
  background-color: #000000;
}


.button-link {
  width: 140px;
  height: auto;
  padding: 8px 50px;
}

.button-favourites {
  background-color: #82B3D3;
  width: auto;
  height: auto;
 /* padding: 8px 50px; */
}

.button-rating {
  background-color: #f2f2f2;
  color: #333333;
  width: 140px;
  text-align: center;
}

.pagination-link {
  text-decoration-line: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
}



/*
.container {
  background-color: #f2f2f2;
  width: 100% auto;
}
*/
